@font-face {
    font-family: musiqFont;
    src: url(Salsa-Regular.ttf);
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: musiqFont,Arial, Helvetica, sans-serif;
    /* background: url(https://media.giphy.com/media/dB66K4Kywc8gPVh6A7/source.gif); */
    /* background-attachment: fixed; */
    /* background-size: 100vw; */
    background-color: #F5F5F5;
}
p{
    color: black;
}
/* NAV */
nav{
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #d4d1d1;
}
nav p,ul li{
    display: inline;
}
#heading{
    font-size:2.5vw;
}
ul{
    margin: 0;
    padding: 0;
}
#logo{
    height: 3vw;
    /* border-radius: 20px; */
    /* position: relative; */
    top: 7px;
    left: 2px;
}
#left{
    flex: 1;
}
article img{
    width: 100px;
    height: 100px;
}
/* MAIN */
main{
    display: grid;
    grid-gap: 20px;
    background-color: #F1F3F4;
    padding-top: 2%;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
audio{
    width: 90%;
}
.top{
    margin-bottom: 0;
}
/* FOOTER */
footer{
    text-align: center;
}
/* MEDIA QUERIES */
@media (min-width:1024px) {
    main{
        grid-template-columns: repeat(4,1fr);
    }
    /* nav{
        margin: 1% 2%;
    } */
    #logo{
        width: 2%;
        height: 2%;
    }
    #heading{
        font-size: 150%;
    }
}
/* do the screen width for 768 and 360? */
@media (min-width:801px) and (max-width:1024px) {
    body{
        background-size: cover;
    }
    main{
        grid-template-columns: repeat(3,1fr);
    }
    /* nav{ 
        margin: 1% 2%;
    }*/
    #button{
        border-radius: 50px;
    }
    input[type="search"]{
        border-radius: 50px;
    }
}
@media (min-width:401px) and (max-width:800px) {
    body{
        background-size: cover;
    }
    main{
        grid-template-columns: repeat(2,1fr);
        margin-top: 5%;
    }
    nav ul,nav{
        display: block;
        text-align: center;
    }
    #logo{
        margin: 0 auto;
        width: 3%;
        height: 3%;
        padding-bottom: 2%;
    }
    input[type="search"]{
        width: 35%;
        border-radius: 20px;
        margin-top: 2%;
    }
    #button{
        border-radius: 20px;
        display: block;
        margin: 0 auto;
        margin-top: 2%;
    }
    #heading{
    font-size:3.5vw;
    }
    audio{
        width: 75%;
    }
}
@media (max-width:400px) {
    body{
        background-size: 100vh;
    }
    main{
        margin-top: 5%;
    }
    nav ul,nav{
        display: block;
        text-align: center;
    }
    #logo{
        margin: 0 auto;
        width: 3%;
        height: 3%;
        padding-bottom: 2%;
    }
    input[type="search"]{
        width: 35%;
        border-radius: 20px;
        margin-top: 2%;
    }
    #button{
        border-radius: 20px;
        display: block;
        margin: 0 auto;
        margin-top: 2%;
    }
    #heading{
    font-size:3.5vw;
    }
    audio{
        width: 75%;
    }
}